# ----------------------------------------------------------------------
# My Own Stuff
# ----------------------------------------------------------------------

# Don't show directory listings for URLs which map to a directory.
Options -Indexes
 
# Follow symbolic links in this directory.
Options +FollowSymLinks
 
# Force simple error message for requests for non-existent favicon.ico.
<Files favicon.ico>
  ErrorDocument 404 "The requested file favicon.ico was not found."
</Files>

<Files rss.xml> 
  ForceType application/x-httpd-php
</Files> 

<IfModule mod_rewrite.c>
  # Rewrite URLs of the form 'x' to the form 'index.php?q=x'.
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteRule ^([-a-zA-Z0-9]*)(/([-a-zA-Z0-9]*))?(/(.*))?$ home.php?page=$1&sub=$3&q=$5 [L,QSA]
</IfModule>
